.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  max-width: 1100px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.content {
  display: flex;
  gap: 2rem;

  .imageSection {
    flex: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      font-size: 0.8rem;
      font-weight: 600;
      color: #000;
    }

    input,
    select {
      width: 100%;
      padding: 0.6rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .row {
      display: flex;
      gap: 1rem;

      > div {
        flex: 1;
      }
    }

    .submit {
      margin-top: 1rem;
      background: #c3a764;
      color: white;
      border: none;
      padding: 0.8rem;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
    }

    .help {
      text-align: right;
      font-size: 0.8rem;
      margin-top: 0.5rem;

      a {
        color: #4266e3;
        text-decoration: underline;
      }
    }

    input[type='range'] {
      -webkit-appearance: none;
      appearance: none;
      background: none; // ❗important pour ne pas écraser le style inline
      width: 100%;
      height: 10px;
      border-radius: 20px;
      outline: none;
      margin-top: 0.5rem;
      margin-right: 2rem;
      cursor: pointer;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        background: #bfa567;
        border-radius: 50%;
        cursor: pointer;
        border: none;
        margin-top: -4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 2;
        transform: translateX(-15px); // 🔁 décale vers la gauche
      }

      &::-moz-range-thumb {
        width: 18px;
        height: 18px;
        background: #bfa567;
        border-radius: 50%;
        cursor: pointer;
        border: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }

      &::-webkit-slider-runnable-track {
        height: 10px;
        border-radius: 20px;
      }

      &::-moz-range-track {
        height: 10px;
        border-radius: 20px;
      }
    }
  }
}
