.reviews {
    padding: 6rem 5%;
    background: #fff;
    text-align: center;
  
    h2 {
        font-family: 'Athena', serif;
      font-size: 3rem;
      margin-bottom: 3rem;
      color: #111;
    }
  
    .images {
        img {
          width: 500px;
          height: auto;
          border-radius: 1rem;
          transition: transform 0.3s ease;
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
          position: relative;
        }
    
        .left {
          transform: rotate(-5deg) translateX(6px) translateY(20px); // ← décalé légèrement à gauche
          z-index: 1;
        }
    
        .center {
          transform: scale(1.05);
          z-index: 2; // bien devant
        }
    
        .right {
          transform: rotate(5deg) translateX(2px) translateY(20px); // → décalé légèrement à droite
          z-index: 1;
        }
      }
    }
  