* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Playfair Display', serif;
    background-color: #fff;
    color: #111;
  }
  
  html {
    font-size: 112.5%; // 100% = 16px, donc ici 18px ≈ zoom 112.5%
  }
  
  @font-face {
    font-family: 'Athena';
    src: url('/fonts/Athena-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Bell MT';
    src: url('/fonts/BellMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Maginia';
    src: url('/fonts/Maginia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500; /* ou 600 ou 500 selon ce que tu veux */
  }

