.commitment {
    padding: 6rem 5%;
    background: #fff;
  
    h2 {
      text-align: center;
      font-family: 'Athena', serif;
      font-size: 3rem;
      margin-bottom: 4rem;
      color: #111;
    }
  
    .block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4rem;
      flex-wrap: wrap;
    }
  
    .text {
        flex: 1 1 500px;
        margin-left: 0rem;
      
        .item {
          margin-bottom: 3rem;
      
          h3 {
            font-family: 'Playfair Display', serif;
            font-size: 2rem;
            font-weight: 400;
            color: #222;
            margin-bottom: 0.8rem;
            position: relative;
            padding-left: 2rem;
      
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 0.8rem;
              width: 20px;
              height: 20px;
              background-color: #c3a764;
              border-radius: 50%;
              opacity: 70%;
              margin-left: 2rem; // aligné avec le point et le titre
              filter: blur(6px);
            }
          }
      
          p {
            font-family: 'Bell MT', serif;
            font-size: 1.2rem;
            color: #333;
            margin-left: 5rem;
            line-height: 1.6;
            font-style: italic;
            max-width: 60%; // augmente un peu pour être + naturel
            padding-left: 2rem; // aligné avec le point et le titre
          }
        }
      }
      
  
    .imageWrapper {
        width: 600px;
        height: 662px;
        position: relative;
        margin-right: 40px;
      
        .shape {
          width: 110%;
          height: 110%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #c3a764;
          z-index: 1;
          border-top-left-radius: 40px;
          border-top-right-radius: 30%;
          border-bottom-right-radius: 40px;
          border-bottom-left-radius: 500%;
        }
      
        img {
          width: 550px;
          margin-left: 50px;
          margin-top: 30px;
          height: 662px;
          position: relative;
          z-index: 2;
          border-radius: 0 30% 0 30%;
          object-fit: cover;
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
        }
          
    }
  }
  